.presentacion {
    text-align: center;
    color:white;
    font-family: sans-serif;
    margin-bottom: 4px;
    
    
}
#cuadro_formulario{
    width: 20%;
    height: 100%;
    min-width: 130px;
    min-height: 190px;
    max-width:350px;
    max-height: 200px; 
    background-color:rgb(204, 157, 38);
    
    padding: 10px ;
    border: 5px solid #ffff;
    border-radius: 30px;
    margin-bottom: 10px;
}
.Imagen{
    display: flex;
    flex: :auto;
    min-width: 280px;
    height: 300px;
    border:  2px solid yellow;
    object-fit: cover; 
    border-radius: 20px;
    margin:0  auto;
    margin-top: 3px;
}
#encabezado{
    
    width: 100%;
    height: 80px;
    background-color: #1b1b32;
    display: flex;
}
#logo{

   
    width: max(4rem, 3vw);
    background-color: beige;
    aspect-ratio: 32/4;
    padding: 0.4rem;
    

}
#titulo_formulario{
    color:honeydew;
    text-align: center;
    font-size: min(7vw, 1.8em);
}

/*mas importante el div que la clase*/
.cuadro{

    width: 40%;
    height: 100%;
    min-width: 280px;
    min-height: 280px;
    max-width:350px;
    max-height: 60%; 
    background-color:rgb(204, 157, 38);
    margin: auto;
    padding: 10px ;
    border: 5px solid #ffff;
    border-radius: 30px;
    margin-bottom: 10px;
    

}
.cuadro_descripcion{

    width: 40%;
    height: 100%;
    min-width: 280px;
    min-height: 200px;
    max-width:350px;
    max-height: 200px; 
    background-color:rgb(204, 157, 38);
    margin: auto;
    padding: 10px ;
    border: 5px solid #ffff;
    border-radius: 30px;
    margin-bottom: 10px;
    

}
.cuerpo_presentacion{
   background-image: url("imagen_bry.jpg") ; 
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-color: lightcyan;

}
.titulo{
    margin-top: 12px;
    text-align: center;
    color: gainsboro;
}
.descripcion{
    text-align: center;
    color: white;
    
}

.bry{
    text-align: center;
    width: 60%;
    background-color: antiquewhite;
    font-weight: bold;
    color: black;
    border: solid gray;
    margin:auto;
    padding: 8px;
    border-radius: 15px;
    border-color: cadetblue;
}
#principal{
    display: flex;
    gap:20px;
}