.presentacion {
    text-align: center;
    color:white;
    font-family: sans-serif;
    margin-bottom: 4px;
    
    
}
#cuadro_formulario{
    width: 20%;
    height: 100%;
    min-width: 130px;
    min-height: 120px;
    max-width:180px;
    max-height: 150px; 
    background-color:rgb(204, 157, 38);
    padding: 10px ;
    border: 5px solid #ffff;
    border-radius: 30px;
    margin-bottom: 10px;
    text-align: center;
}
.Imagen{
    display: flex;
    flex: :auto;
    min-width: 280px;
    height: 300px;
    border:  2px solid yellow;
    object-fit: cover; 
    border-radius: 20px;
    margin:0  auto;
    margin-top: 3px;
}
#encabezado{
    
    width: 100%;
    height: 80px;
    background-color: rgb(197, 174, 142);
    display: flex;
}
#logo{

   
    width: max(4rem, 3vw);
    background-color: beige;
    aspect-ratio: 32/4;
    padding: 0.5rem;
    

}
#titulo_formulario{
    color:honeydew;
    text-align: center;
    font-size: min(7vw, 1.8em);
}
#fondo_formulario{
    background-image:url("imagenes/comida.jpg");
    background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-color: lightcyan;
}
/*mas importante el div que la clase*/
.cuadro{

    width: 40%;
    height: 100%;
    min-width: 280px;
    min-height: 280px;
    max-width:350px;
    max-height: 60%; 
    margin: auto;
    background-color:rgb(204, 157, 38);
    padding: 10px ;
    border: 5px solid #ffff;
    border-radius: 30px;
    margin-bottom: 10px;
    

}
.cuadro_descripcion{

    width: 40%;
    height: 100%;
    min-width: 280px;
    min-height: 200px;
    max-width:350px;
    max-height: 200px; 
    background-color:rgb(204, 157, 38);
    margin: auto;
    padding: 10px ;
    border: 5px solid #ffff;
    border-radius: 30px;
    margin-bottom: 10px;
    

}
.cuerpo_presentacion{
   background-image: url("imagenes/imagen_bry.jpg"); 
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-color: lightcyan;

}
.titulo{
    margin-top: 12px;
    text-align: center;
    color: gainsboro;
}
.descripcion{
    text-align: center;
    color: white;
    
}

.bry{
    text-align: center;
    width: 60%;
    background-color: antiquewhite;
    font-weight: bold;
    color: black;
    border: solid gray;
    margin:auto;
    padding: 8px;
    border-radius: 15px;
    border-color: cadetblue;
}
#principal{
    display: flex;
    justify-content: center;
    gap:20px;
}
#cuerpo_formulario{
    color: rgb(67, 96, 21);
    display: flex;
    justify-content: center;
}
input{
    color: rgb(218, 126, 126);
    background-color: #d3fffb;
    border-style:groove;
}
select{
    color: rgb(67, 96, 21);
    background-color: #d3fffb;
}
#enviar{
    color: yellowgreen;
    background-color: #d3fffb;
    padding: 10px;
    width: 300px;
    
}
section{
    margin-bottom: 30px;
}
section:last-of-type{
    margin-bottom: 80PX; 
}
textarea{
    color: rgb(23, 25, 26);
    margin-top: 10px;
    background-color: #d3fffb;
    border-radius:10%;
}
#cuadro_formulario_contacto{

    
    text-align: center;
    margin-top: 10%;
    padding: 20px;
    width: 25rem;
    height: 28rem;
    background-color: blanchedalmond;
}

.personaje{
    background-image: url("imagenes/jose-jose_fondo.jpg");
    background-size: cover;
   background-position: center;
   background-attachment: fixed;
   
}
.homenaje_encabezado{
    background-color: #d3fffb;
    width: 100%;
    height: 80px;
}
.contenido_encabezado{
    
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    opacity: 1;
}
.translucido{
    opacity:0.8;
}
#titulo_josejose{
    padding: 10%;
    padding-top: 0px;
    text-align: center;
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(54, 106, 2);

}
.caja_presentacion{
    margin: auto;
    margin-top: 7rem;
    width:max(45rem,80vw);
    
    height: 300px;
    background-color: gray;
    opacity: 0.9;
    display: flex;
    justify-content: center;
}

.presentacion_personaje{
    color: aliceblue;
    font-size: 15px;
    font-family: Verdana, sans-serif;
    margin-left: max(30px,7rem);
    margin-right: max(20px,1rem);
}
#caja_enlaces{
    text-align: center;
    margin-top: 7rem;
    width:40;
    height: 100px;
    background-color: gray;
    color: #d3fffb;
    font-family: Verdana, sans-serif;
}